@media print {
  *:not(.receipt) {
    display: none;
  }
}
.container {
  display: flex;
  flex-direction: column;
}


.ready-tip {
  font-size: 2vw;
}

.scan-tip {
  margin-bottom: 20px;

  :global(.ant-spin) {
    margin-right: 10px;
  }
}

.tip-wrapper {
  margin-top: 20px;

  .tip-text {
    margin-left: 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.receipt {
  padding: 16px;
  border: 1px solid grey;
  font-size: 14px;

  > h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  > p {
    margin: 16px;
    display: flex;
    justify-content: space-between;
  }

  * {
    pointer-events: none;
  }
}
