.app {
  height: 100vh;
  overflow: hidden;

  :global(.ant-layout-sider) {
    position: relative;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    z-index: 10;
    overflow-y: auto;
  }
}

.sider-header:global(.ant-layout-header) {
  position: sticky;
  top: 0;
  padding-left: 25px;
  background-color: #002140;
  white-space: nowrap;
  font-size: 20px;
  cursor: move;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  z-index: 11;

  h1 {
    margin-left: 16px;
    font-size: 20px;
    display: inline-block;
    color: inherit;
  }
}

.main-header:global(.ant-layout-header) {
  position: sticky;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  z-index: 10;
}

.page-layout {
  max-height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.page-header:global(.ant-layout-header) {
  background: #fff;
  color: #222;
  height: 95px;
  padding: 20px 20px;

  h2 {
    line-height: initial;
  }
  p {
    line-height: initial;
    color: #999;
  }
}

.page-content {
  margin: 20px;
  padding: 20px;
  background: #fff;
  color: #222;
  border-radius: 3px;
  box-shadow: 0 0 10px -2px rgba(0, 21, 41, 0.1);

  :global(.ant-layout) {
    background: #fff;
  }
}

.login-container {
  display: flex;
  height: 100%;
  justify-content: stretch;
  align-items: stretch;

  .sider {
    $divide: 60%;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20vh 2vw 10vh 5vw;
    width: 40%;
    background: linear-gradient(to bottom, #2178fd 0%, #2178fd $divide, #fff $divide, #fff 100%);
    color: #fff;
    white-space: nowrap;

    h2 {
      color: inherit;
      font-size: 32px;
    }

    p {
      font-size: 16px;
      opacity: 0.6;

      &::before {
        content: '';
        display: block;
        height: 1px;
        margin-bottom: 14px;
        width: 50%;
        background: #fff;
      }
    }

    i {
      position: absolute;
      top: $divide;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30vw;
    }
  }
}
